

.meu-portifolio{
    display: grid;
    grid-template-columns: 460px 1fr; 
    gap: 48px;
    width: 100%;
    max-width: 1366px;
    padding: 0 24px;
    margin: 160px auto 100px;
}

section{
    height: 400px;
}

.card{
    border-radius: 12px;
    background: var(--background-body);
    box-shadow: var(--show-card);

}

.projetos{
    grid-column: 1 / 3;
}